{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}

<div class="current">Add Bookmark</div>

<hr style="color: darkred; height: 3px;">

<form action="/add" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="title" placeholder="Title" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="pages" placeholder="Page Number" type="number">
    </div>
    <button class="btn btn-primary" type="submit" style="background-color: darkred; border-color: darkred">Add</button>
</form>


{% endblock %}
